<div class="container">
    <div class="carousel">
        carousel with products here
    </div>
    <div class="most-popular-products">
        <h4>Most popular items:</h4>
        <div class="products-grid">
            <div class="product" *ngFor="let item of [0,1,2,3,4,5,6,7,8,9]">
                <img src="../../../../../assets/ipad.png">
                <div class="info">
                    <b style="color: gray;">1500.00zł</b>
                    <p>Apple iPad 10'' 2015</p>
                </div>
            </div>
        </div>
    </div>
</div>